<%- include('./Partials/head') %>

<main>
  <div class="img-producten-beschrijving">
    <div class="producten-beschrijving">
      <!-- Title Producten -->
      <h1 class="main-title">alle producten</h1>
      <!-- Beschrijving Test -->
      <p class="product-test">
        Doe altijd eerst de Vini Mini test voordat je onze producten koopt. Zo
        weet jij of je in 3 of 6 kleine stapjes kunt beginnen met voor het eerst
        allergenen te geven.
      </p>
      <!-- Beschrijving Arts -->
      <p class="product-arts">
        Overleg voor je begint altijd met een arts of het consultatiebureau.
      </p>
    </div>

    <!-- Pinda Producten img -->
    <div class="image-div">
      <img
        src="/pinda-producten.webp"
        alt="pinda producten"
        class="pinda-image"
      />
    </div>
  </div>
  <!-- Twee categorienen Ei en Pinda -->
  <section class="roelie">
    <% categories.forEach(categorie=> { %> <% if(categorie.titel==="Ei" ||
    categorie.titel==="Pinda" ) { %>
    <article class="producten-div">
      <h2><%= categorie.titel %></h2>
      <img
        class="article-img"
        src="<%=categorie.titel%>.webp"
        alt="ei-pinda-illustratie"
      />
      <a class="product-btn" href="categorie?categorieId=<%=categorie.id%>"
        >Bekijk producten</a
      >
    </article>
    <% } %> <% }); %>
  </section>
  <!-- Pindas img -->
  <img
    class="pindas-img"
    src="/Pinda-versierlsel.webp"
    loading="lazy"
    alt="pinda"
  />

  <!-- CHATBOX -->
  <!-- CHATBOXFORMULIER -->
  <section class="section-chatbox">
    <div class="chatboxsection">
      <h1>Vini Mini Chatroom</h1>
      <ul></ul>

      <form>
        <label class="gebruikersnaamtitle" for="Bericht">Bericht</label>
        <input
          type="text"
          name="tekst"
          placeholder="type hier..."
          autocomplete="off"
        />
        <button alt="verzend-button" class="button-chatbox"><img src="/send.svg" alt="verzend-button" alt="" srcset="" /></button>
      </form>
    </div>
  </section>
</main>

<%- include('./Partials/foot') %>

            <form>

                <label class="gebruikersnaamtitle" for="Gebruikersnaam">Gebruikersnaam</label>
                <input id="Gebruikersnaam" class="Gebruikersnaamtekstvak" type="text" placeholder="type hier uw naam" autocomplete="off" required />

                <label class="gebruikersnaamtitle" for="Bericht">Bericht</label>
                <input id="Bericht" type="text" name="tekst" placeholder="type hier..." autocomplete="off" />

                <button class="button-chatbox" alt="verzend-button"><img src="/send.svg" alt="verzend-button" alt="" srcset=""></button>
            </form>

        <!-- CHATBOXICON-->
            <!-- <div class="chatbox">
                <img class="chaticon" src="/iconlogo.png" alt="iconviniminilogo">
                <img class="iconchat" src="/message-circle.svg" alt="iconviniminilogo">
            </div> -->

    <%- include('./Partials/foot') %>
